/* .headerContainer{
    text-align: center;
} */
/* .body{
  
} */
.headerText{
    /* font-size: 400%; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    text-align: center;
    border-style: double;
    border-width: .5ch;
    
}
/* trying to make this image centered on the page */
.logoImg {               
    /* display: block; */
    margin-left: 28%;

    height: 300px;
    width: 600px;
    overflow: hidden;

  }

  #searchTitle {
      text-align: center;
  }

  #searchForm {
    text-align: center;
  }

  .randomButton{
    padding: 1px 10px;
    font-size: 15px;

    /* need to figure out how to center! */
  }

  .cocktailCard{
    text-align: center;
    border-style: double;
    border-width: .5ch;

  }

  .cocktailImg{
      width: 400px;
      height: 400px;
  }